.salesReport-red {
  display: flex;
  font-weight: 600;
  background-color: red;
  align-self: center;
  margin-left: 10rem;
  width: max-content;
  padding: 0 1rem 0 1rem;
}

.salesReport-skyblue {
  display: flex;
  font-weight: 600;
  background-color: rgb(114, 180, 235);
  align-self: center;
  margin-left: 10rem;
  width: max-content;
  padding: 0 1rem 0 1rem;
}

.sort {
  display: flex;
  justify-content: flex-end;
  margin-right: 8rem;
  margin-top: 1rem;
}
